<!doctype html>
<html>

<head>
  <title>:33</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://localhost:3000/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/home.css" type="text/css">
  <style>
    .map--area {
      background: #e5e3df;
    }
  </style>
</head>

<body>
  <div class="page--wrapper full--height pos--rel" style="">
    <div class="main--container full--height">
      <div class="main--nav full--height center--content">
        <div class="filters--container">
          <span class="control--header">OurPlaces</span>
          <ul id="filterContainer" class="filter--ctrls">
            <li class="filter--ctrl">
              <button class="filter--btn active">My Places</button>
            </li>
            <li>
              <button class="filter--btn inactive">Everyones Places</button>
            </li>
          </ul>
        </div>
        <div class="request--contianer">
          <span>Add Friend</span>
          <button>+</button>
        </div>
        <div class="account--container">
          <span>{{user.firstName}}</span>
          <div class="mail--container">
            {{#if user.requestCount}}
            <img class="mail--img active" src="/images/mail--active.png">
            <span class="mail--txt active">{{user.requestCount}}</span> 
            {{else}}
            <img class="mail--img inactive" src="/images/mail--inactive.png">
            <span class="mail--txt inactive">0</span> 
            {{/if}}
          </div>
          <div class="settings--container"></div>
        </div>
      </div>
      <div class="map--area">
        <div class="controls--container">
          <div class="search--container">
          <input id="placeSearchInput" class="search--input" type="text" name="placeSearchString" placeholder="Search, e.g. 'Sodosopah'">
          <ul id="predictiveContainer" class="predictive--results">
            <li class="prefetch--load--img hide"><div class='uil-ring-css'><div></div></div></li>
          </ul></div>
          <button id="placesSearchSubmit" class="search--btn">SEARCH</button>
        </div>
        <div id="map" class="map">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9eJ1ddUa7R5OV1lXGrJ81j18-BTy0Z5I&libraries=places"></script>
  <script src="/js/jquery-2.2.0.js"></script>
  <script src="/js/bundle.js"></script>
</body>

</html>
