<!doctype html>

<html>

<head>

  <title>:33</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://localhost:3000/css/normalize.css">
  <style>

    

  </style>

</head>


<body>
  
  <h1>Share ur spots</h1>
  <a href="auth/google"><h2>Login</h2></a> 
  
  <script src="http://localhost:3000/js/jquery-2.2.0.js"></script>
  <script src="http://localhost:3000/js/bundle.js"></script>
</body>

</html>