<!doctype html>
<html>

<head>
  <title>:33</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/setCredentials.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <style>

    html, body, .full--height {
      height: 100%;
      overflow: auto;
    }

    h1, h2, h3, h4, a, p, span{
      font-family: 'PT Sans Narrow', sans-serif;
      color: #333;
    }

    a {
      text-decoration: none;
      font-weight: 700;
    }

    h1 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 400;
    }

    h3 {
      margin: 0;
      font-size: 1.75rem;
      font-weight: 400;
    }

    h4 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-size: .95rem;
    }

    .main--container {
      max-width: 1070px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="page--wrapper full--height pos--rel">
    <div class="main--container full--height">
    <h1>Before You Start</h1>
      <h4 class="reg--header">Pick a username :o</h4>
      <form id="regForm" action="/user/setCredentials" method="POST">
        <input id="username" class="reg--input" type="text" name="username" placeholder="username" autocomplete="off"><hr/>
        <button id="submit" type="submit" class="reg--btn">Done</button>
      </form>
      <span id="error-text" class="error--text"></span>
    </div>
  </div>
  <script>
    
  document.getElementById('regForm').addEventListener('submit', function(evt) {
    evt.preventDefault();

    var username = document.getElementById('username').value;
    var errNode = document.getElementById('error-text');

    if (!username) {
      errNode.innerText = 'U gotta put somethin, man :/';
      return;
    }

    var route = '/user/setCredentials';
    var xhr = new XMLHttpRequest();

    xhr.open('POST', route);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');

    xhr.onload = function() {
        console.log(xhr.status, xhr.response, xhr.responseText);
        if (xhr.status === 200) {
          window.location = 'http://localhost:3000/home';
        } else {
          console.log('error');
          var err = JSON.parse(xhr.response);
          errNode.innerText = err.message;

          setTimeout(function() {
            errNode.innerText = '';
          }, 5000);
        }
    };
  
    xhr.send('username=' + username);

    // request.open('POST', '/user/setCredentials', true);



    // request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    // request.responseType = 'json';
    // request.upload.addEventListener("error", function(e) {
    //   console.log(this.responseText);
    //   console.log('failed! ', e);
    // });
    // request.upload.addEventListener("load", function(e) {
    //   console.log(this.responseText);
    //   console.log('success? ', e);
    // });

    // request.send(data);

  });


  </script>
</body>

</html>
