/* general */

html,
body,
.full--height {
  height: 100%;
  overflow: auto;
}

h1,
h2,
h3,
a,
p,
span,
button,
input {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: .95rem;
}

button {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 1rem;
  border: 0;
  background: none;
}
/* main layout */

.main--container {
  display: flex;
  align-items: center;
}

.main--nav {
  width: 130px;
  display: flex;
  flex-direction: column;
  background: #fffff0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 5;
}
/* nav components */

.request--contianer {
  margin: 1.25rem 0;
  flex-grow: 2;
}

.request--input {
  text-align: center;
  width: 95%;
  font-size: .8rem;
  padding: .2rem .1rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

.request--btn {
  display: inline-block;
  background: #f0ddfb;
  font-weight: 700;
  font-size: .75rem;
  padding: .15rem 1.25rem;
  /*box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);*/
  
  border: 1px solid #8A7B92;
}
/* control panel */

.control--header {
  display: inline-block;
  font-size: 1.35rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
/* filters */

.filter--ctrls {
  border-top: 1px solid #f0ddfb;
  border-bottom: 1px solid #f0ddfb;
  text-align: left;
}

.filter--ctrls > li {
  border-bottom: 1px solid #f7effc;
}

.filter--ctrls > li:last-child {
  border-bottom: 0;
}

.filter--btn {
  display: block;
  height: 100%;
  padding: .95rem 0;
  padding-right: .35rem;
  width: 100%;
  text-align: right;
}

.filter--btn.active {
  border-right: 8px solid #d998fe;
}

.filter--btn.inactive {
  border-right: 8px solid #cecdcd;
}
/* map container */

.map--area {
  flex-grow: 1;
  height: 100%;
  position: relative;
  z-index: 1;
}

.map {
  height: 100%;
  width: 100%;
}
/* map controls */

.controls--container {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  padding: 10px;
}

.search--container {
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  max-width: 600px;
}

.search--input {
  padding: .4rem .75rem;
  margin-bottom: .2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #828181;
}

.search--btn {
  display: inline-block;
  background: #f0ddfb;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: .5rem 1.5rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #8A7B92;
}
/* predictive results */

.predictive--results {
  max-height: 13.5rem;
  overflow-y: auto;
}

.predictive--results > li {
  padding: .3rem .5rem;
  border: 1px solid grey;
  border-top: 0;
  font-size: .9rem;
  color: #fffff0;
  background: rgba(0, 0, 0, .625);
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
}

.predictive--results > li:hover {
  font-weight: 700;
  color: #333;
  background: #f0ddfb;
  font-size: .85rem;
}

.predictive--results > li:first-child:hover {
  font-weight: 400;
  font-size: .9rem;
  color: #fffff0;
  background: rgba(0, 0, 0, .625);
}
/* utility */

.center--content {
  text-align: center;
}

.pos--rel {
  position: relative;
}

.hide {
  display: none;
}

/* mail/notifications */

.mail--container {
  padding: 1rem 0;
}

.mail--txt,
.mail--img {
  vertical-align: middle;
}

.mail--img {
  width: 25%;
  height: auto;
  display: inline-block;
  padding-right: .5rem;
}

.mail--txt {
  font-size: 1.05rem;
  font-weight: 700;
  display: inline-block;
  padding-left: .5rem;
}

.mail--items > li {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  padding: .25rem 0;
  text-align: left;
}

.mail--name {
  display: block;
  margin-bottom: .1rem;
  margin-left: .1rem;
}

.mail--notification {
  cursor: pointer;
}

.mail--txt.active {
  color: #ff4444;
}

.mail--txt.inactive {
  color: #cccbcb;
}

.mail--btn {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  line-height: 100%;
}

.mail--btn.accept {
  border: 1px solid green;
  margin-right:5%;
  color: green;
}

.mail--btn.reject {
  border: 1px solid red;
  color: red;
}


/* PREFETCH LOADING ANIMATION */

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  position: relative;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  padding: .1rem 0;
}

.uil-ring-css > div {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #f0ddfb;
  -ms-animation: uil-ring-anim 1.25s linear infinite;
  -moz-animation: uil-ring-anim 1.25s linear infinite;
  -webkit-animation: uil-ring-anim 1.25s linear infinite;
  -o-animation: uil-ring-anim 1.25s linear infinite;
  animation: uil-ring-anim 1.25s linear infinite;
}
