/* general */

html,
body,
.full--height {
  height: 100%;
  overflow: auto;
  min-height: 350px;
}

h1,
h2,
h3,
a,
p,
b,
span,
button,
input,
li {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: .95rem;
}

button {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 1rem;
  border: 0;
  background: none;
}
/* main layout */

.main--container {
  display: flex;
  align-items: center;
}

.main--nav {
  width: 130px;
  display: flex;
  flex-direction: column;
  background: #fffff0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 5;
}
/* nav components */
/* friend container */


.friend--name {
  display: block;
  position: relative;
  font-size: .85rem;
  padding: .2rem 0;
  padding-left: .5rem;
  text-align: left;
}

.friend--name.empty {
  color: grey;
  text-align: center;
  padding: 0;
}

.friend--show--btn {
  flex-grow: 2;
  display: inline-block;
  border-bottom: 1px solid #f0ddfb;
  padding: 1rem;
}

.friend--show--txt {
  border-bottom: 1px solid #f0ddfb;
}

.friend--overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .85);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.friend--list {
  position: relative;
  z-index: 15;
  overflow: hidden;
  /*display: flex;
  flex-wrap: wrap;
*/
}

.friend--list > li {
  position: relative;
  width: 18%;
  margin: .5rem 1%;
  padding: 1.5rem;
  box-sizing: border-box;
  background: white;
  border: 4px solid white;
  border-radius: 2px;
  float: left;
}

.friend--item.add:hover {
  border: 4px solid white;
}

.add--btn {
  padding: 0 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #F0DDFB;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #8A7B92;
  vertical-align: middle;
}

.friend--filter {
  position: relative;
  width: 300px;
  padding: .5rem;
  box-sizing: border-box;
  z-index: 15;
  border: 0;
  margin-right: .25rem;
  vertical-align: middle;
}

.friend--filter--header {
  display: inline-block;
  position: relative;
  z-index: 10;
  color: white;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  margin: 0;
  width: 100%;
}

.friend--pic {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.friend--save--count {
  font-size: .85rem;
  padding-left: .5rem;
  margin-top: .25rem;
  padding-top: .25rem;
  display: block;
  border-top: 1px solid #F0DDFB;
}

.friend--header {
  width: 95%;
  margin: 0 auto 1rem auto;
  z-index: 20;
  border-bottom: 1px solid #F0DDFB;
}

.friend--body {
  position: relative;
  z-index: 15;
  width: 95%;
  margin: 0 auto;
  flex-grow: 2;
  overflow-y: auto;
}

.friend--remove {
  position: absolute;
  top: 3px;
  right: 5px;
  border: 1px solid #8A7B92;
  font-weight: 700;
  padding: 0 .35rem;
  font-size: .85rem;
  border-radius: 2px;
  padding-bottom: 1px;
  background: #F0DDFB;

}

/* request container */
/*.request--contianer {
  flex-grow: 2;
}

.request--input {
  text-align: center;
  width: 95%;
  font-size: .8rem;
  padding: .2rem .1rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

.request--btn {
  display: inline-block;
  background: #f0ddfb;
  font-weight: 700;
  font-size: .75rem;
  padding: .15rem 1.25rem;
  border: 1px solid #8A7B92;
}*/
/* control panel */

.control--header {
  display: inline-block;
  font-size: 1.35rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
/* filters */

.filter--header {
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid #f0ddfb;
}

.filter--ctrls {
  border-top: 1px solid #f0ddfb;
  border-bottom: 1px solid #f0ddfb;
  text-align: left;
}

.filter--ctrls > li.filter--ctrl {
  border-bottom: 1px solid #f7effc;
}

.filter--ctrls > li.filter--ctrl:last-child {
  border-bottom: 0;
}

.filter--btn {
  display: block;
  height: 100%;
  padding: 1rem 0;
  padding-right: .35rem;
  width: 100%;
  text-align: right;
  border-right: 8px solid #cecdcd;
}

.filter--btn:hover {
  border-right-color: #E1C6F1;
}

.filter--btn.active {
  border-right: 8px solid #d998fe;
}
/* map container */

.map--area {
  flex-grow: 1;
  height: 100%;
  position: relative;
  z-index: 1;
}

.map {
  height: 100%;
  width: 100%;
}
/* map controls */

.controls--container {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  padding: 1rem;
}

.search--container {
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  max-width: 600px;
}

.search--input {
  padding: .4rem .75rem;
  margin-bottom: .2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #828181;
}

.search--btn {
  display: inline-block;
  background: #f0ddfb;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: .5rem 1.5rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #8A7B92;
}
/* predictive results */

.predictive--results {
  max-height: 13.5rem;
  overflow-y: auto;
}

.predictive--results > li {
  padding: .3rem .5rem;
  border: 1px solid grey;
  border-top: 0;
  font-size: .9rem;
  color: #fffff0;
  background: rgba(0, 0, 0, .625);
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
}

.predictive--results > li:hover {
  font-weight: 700;
  color: #333;
  background: #f0ddfb;
  font-size: .85rem;
}

.predictive--results > li:first-child:hover {
  font-weight: 400;
  font-size: .9rem;
  color: #fffff0;
  background: rgba(0, 0, 0, .625);
}


/* mail/notifications */

.account--container {
  padding: .5rem 0;
}

.mail--container {
  padding-top: .5rem;
}

.mail--img {
  width: 25%;
  height: 30px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.mail--img.active {
  background-image: url('/images/mail--active.png');
}

.mail--img.inactive {
  background-image: url('/images/mail--inactive.png');
}

.mail--items {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,.85);
  display: inline-block;
  width: auto;
}

.mail--items > li {
  width: 200px;
  background: white;
  overflow: auto;
  padding: 2.5rem .8rem;
  margin: 2rem 1rem;
  text-align: left;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
}


.mail--items > li:last-of-type {
  clear: both;
  padding: .5rem .8rem;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}


.mail--items > li.empty {
  text-align: center;
  font-style: italic;
}

.mail--name {
  margin-left: .1rem;
  white-space: nowrap;
}

.mail--actions {
  margin-top: 1.5vh;
}

.mail--notification {
  cursor: pointer;
}

.mail--btn {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  line-height: 100%;
  padding: 2vh 0;
}

.mail--btn.accept {
  border: 1px solid green;
  margin-right: 5%;
  color: green;
}

.mail--btn.reject {
  border: 1px solid red;
  color: red;
}
/* logout btn */

.logout--btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: .15rem 0;
  font-style: italic;
  border-top: 1px solid #F0DDFB;
}
/* map marker styles */

.place--marker--title {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 1rem;
  border-bottom: 1px solid #F0DDFB
}

.place--marker--saved {
  display: inline-block;
  font-style: italic;
  padding-bottom: .5rem;
}

.place--save--btn {
  background: #F0DDFB;
  border: 1px solid #8A7B92;
  font-weight: 700;
  padding: 0 .25rem;
  padding-bottom: 1px;
}

/* utility */

.center--content {
  text-align: center;
}

.pos--rel {
  position: relative;
}

.hide {
  display: none !important;
}

.dim-bg {
  background: rgba(0, 0, 0, .85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.error--text {
  display: inline-block;
  font-size: .95rem;
  font-style: italic;
  color: red;
  margin: .5rem;
  font-weight: bold;
}

.error--text.pink {
  color: #F0DDFB;
}

/* PREFETCH LOADING ANIMATION */

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  position: relative;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  padding: .1rem 0;
}

.uil-ring-css > div {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #f0ddfb;
  -ms-animation: uil-ring-anim 1.25s linear infinite;
  -moz-animation: uil-ring-anim 1.25s linear infinite;
  -webkit-animation: uil-ring-anim 1.25s linear infinite;
  -o-animation: uil-ring-anim 1.25s linear infinite;
  animation: uil-ring-anim 1.25s linear infinite;
}
