/* RESET */
html,
body,
.full--height {
  height: 100%;
  overflow: auto;
  min-height: 350px;
}

h1,
h2,
h3,
a,
p,
b,
span,
button,
input,
li {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: .95rem;
}

button {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 1rem;
  border: 0;
  background: none;
}
/***************/

.page--wrapper{
  display: table;
  width: 100%;
}

.main--container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.reg--input {
  padding: .4rem .75rem;
  margin: 1rem 0;
  width: 260px;
  text-align: center;
}

.reg--btn {
  display: inline-block;
  background: #f0ddfb;
  font-size: .8rem;
  letter-spacing: .2rem;
  padding: .5rem 1.5rem;
  font-weight: 700;
  margin-top: .5rem;
}

.reg--btn:hover {
  background: #E6C2FB;
}

.error--text {
  display: inline-block;
  font-size: .85rem;
  font-style: italic;
  color: red;
  margin: .5rem;
  font-weight: bold;
}